/*---------------------------------------
          External 
-----------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

/*========================================
            Common Style CSS
==========================================*/


*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #F5F7FA;
  font-family: "Ubuntu", sans-serif;
}

a {
  text-decoration: none;
}
ul li {
  list-style: none;
  display: inline-block;
  margin-left: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 9000;
}
/* .container {
  max-width: calc(100% - 100px);
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 667px) and (min-width: 767px) {
  .container {
    width: 90%;
  }
}
 */
 .spinner{
   display: flex;
   justify-content: center;
   padding-top: 150px;
 }

 img.whc-img {
  margin-left: 80px;
}

@media(max-width: 667px){
  img.whc-img {
    margin-left: 80px;
  }
  .hero-area{
    flex-direction: column;
    padding: 30px 0;
  }
}