/*---------------------------------------
          External 
-----------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

/*========================================
            Common Style CSS
==========================================*/


*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #F5F7FA;
  font-family: "Ubuntu", sans-serif;
}

a {
  text-decoration: none;
}
ul li {
  list-style: none;
  display: inline-block;
  margin-left: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 9000;
}
/* .container {
  max-width: calc(100% - 100px);
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 667px) and (min-width: 767px) {
  .container {
    width: 90%;
  }
}
 */
 .spinner{
   display: flex;
   justify-content: center;
   padding-top: 150px;
 }

 img.whc-img {
  margin-left: 80px;
}

@media(max-width: 667px){
  img.whc-img {
    margin-left: 80px;
  }
  .hero-area{
    flex-direction: column;
    padding: 30px 0;
  }
  .not-found{
    flex-direction: column;
  }
}

/* Single Doctor Style */
.single-doctor {
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 8.135px 18.271px 40px 0 rgb(0 0 0 / 8%);
  padding: 50px 56px;
  margin-top: 30px;
  -webkit-transition: .4s;
  transition: .4s;
}
.doctor-profile {
  border-radius: 50%;
  width: 217px;
  height: 217px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}
.doctor-profile:before {
  background: #34D399;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
  border-radius: 50%;
  top: -1px;
}

.doctor-profile img {
    position: absolute;
    left: 54%;
    bottom: -5px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 4;
}
.doctor-social-icons {
  border-top: 2px solid hsla(0,0%,86.3%,.48);
  padding-top: 15px;
  margin-top: 14px;
}
